.illustration-9 { /* School */
    top: 200px;
    right: 0;
    position: relative;
    width: 400px;
    display: block;
    animation: float 3s ease-in-out infinite;
}

@media (max-width: 1200px) {
}
