.hero-section {
	height: 100vh;
	display: flex;
	align-items: center;
}

.hero-section-bg {
	position: absolute;
	top: 0;
	right: 0;
}

.hero-inner {
	width: 100%;
}

.hero-bg {
	left: calc(100% - 600px);
	top: -64px;
	position: relative;
	width: 600px;
}

.hero-illustration-content {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 600px;
}

.note-content {
	display: flex;
	max-width: 600px;
	gap: 24px;
}

.note-content > .text {
	line-height: 27px;
}

.note-border {
	width: 24px;
	background: var(--color-gradient);
	border-radius: var(--common-border-radius);
}

.info-illustration-2-container {
	gap: 0px;
	display: grid;
	grid-template-columns: 0.75fr 1fr;
}

.info-illustration-3-container {
	gap: 0px;
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.list-style-frown, .list-style-smile { 
	padding-left: 32px; /* Location where markers are at */
}

.list-style-frown > li::before,
.list-style-smile > li::before {
	content: "";
	background-size: 60% 60%;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;

	width: 20px;
	height: 20px;

	display: block;
	transform: translate(-32px, 20px);
}

.list-style-frown > li::before {
	background-image: url('../../assets/icons/frown.svg');
	background-color: #ED722C;
}

.list-style-smile > li::before {
	background-image: url('../../assets/icons/smile.svg');
	background-color: #48BB53;
}

.illustration-1 { /* Graduation hat */
	top: 138px;
	right: 38px;
	position: relative;
	width: 70px;
	display: block;
	animation: float 3s ease-in-out infinite;
}

.illustration-2 { /* Illustration */
	top: -111px;
	right: 0px;
	position: relative;
	width: 400px;
	display: block;
	animation: float 6s ease-in-out infinite;
}
.illustration-shadow-2 {
	top: 350px;
	right: 0px;
	position: relative;
	width: 400px;
	display: block;
}

.illustration-3 { /* Globe */
	top: -515px;
	right: -262px;
	position: relative;
	width: 120px;
	display: block;
	animation: float 4s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}


@media (max-width: 1200px) {
	.hero-section {
		height: calc(100vh + 20vw);
		align-items: flex-end;
	}
}

@media (max-width: 768px) {
	:root {
		--mobile-hero-illustration-offset: 50%;
	}

	.hero-bg {
		left: calc(100% - 600px + var(--mobile-hero-illustration-offset));
	}

	.hero-illustration-content {
		right: calc(-1 * var(--mobile-hero-illustration-offset) + 128px);
	}
}
