html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
p,
figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/*normalize css */

/*begin general css */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
a,button,input,textarea,{
  -webkit-transition: background .3s ease-in-out, border .3s ease-in-out, color .3s ease-in-out;
  -o-transition: background .3s ease-in-out, border .3s ease-in-out, color .3s ease-in-out;
  transition: background .3s ease-in-out, border .3s ease-in-out, color .3s ease-in-out;
}
html,
body {
  height: 100%;
  background-color: #f3f3f3;
  font-family:'Stem',Arial,Helvetica,sans-serif;
  color:#333;  
}
p{
    color:#333;
    line-height:26px;
    font-size:14px;
    font-weight:300;
}
@font-face {
    font-family: 'Stem';
    src: url('../fonts/Stem-Regular.eot');
    src: local('☺'),
         url('../fonts/Stem-Regular.woff') format('woff'),
         url('../fonts/Stem-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Stem';
    src: url('../fonts/Stem-Light.eot');
    src: local('☺'),
         url('../fonts/Stem-Light.woff') format('woff'),
         url('../fonts/Stem-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
/*end general css */


/*begin my css */
.sidebar{
  position:fixed;
  left:0;
  top:0;
  bottom:0;
  background-color:#fff;
  width:330px;
  box-shadow: 0px 0px 35px rgba(74, 92, 184, 0.2);
  overflow:auto;
}
.sidebar__inner{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  min-height:570px;
  height:100%;
}
.logo-top{
  box-shadow: 0px 0px 35px rgba(74, 92, 184, 0.2);
  padding:16px 30px 18px 40px;
  overflow:hidden;
  display:flex;
  align-items:center;
}
.logo-top__img{
  display:block;
}
.logo-top__heading{
  margin-left: 17px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 23px;
}
.menu{
  padding:20px 30px 20px 48px;
}
.menu li{
  margin-bottom: 2%;
}
.menu li:last-child{
  margin-bottom: 0;
}
.menu li a{
  display:block;
  color:#000;
  padding:2% 0;
  font-size: 15px;
  line-height:24px;
}
.menu li a:hover{
  color: #31439E;
} 
.sidebar-bot{
  border-top: 1px solid rgba(0, 0, 0, 0.11);
  padding:25px 50px 25px 50px;
}
.city-select{
  border:1px solid #ccc;
  height:37px;
  line-height:35px;
  border-radius:20px;
  position:relative;
  margin-bottom:25px;
}
.city-select:hover{
  background-color:#f3f3f3;
  cursor:pointer;
}
.city-select:after{
  content: "";
  position: absolute;
  right: 15px;
  top: 13px;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 6px;
  border-right-width: 6px;
  border-top: 8px solid #3556FF;
}
.city-select__heading{
  display:block;
  padding:0 20px;
}
.sidebar-cont{
  display:block;
  position:relative;
  padding-left:30px;
  margin-bottom:20px;
}
.sidebar-cont:before{
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 18px;
  height: 18px;  
  background-size: 18px;
}
.sidebar-cont--number{
  font-size:16px;
  color:#000;
}
.sidebar-cont--number:before{
  background-image: url(../img/phone.svg);
}
.sidebar-cont--location{
  font-weight:300;
  font-size: 14px;
  line-height: 22px;
  margin-bottom:0;
}
.sidebar-cont--location:before{
  background-image: url(../img/location.svg);
  width: 18px;
  background-size: 16px 18px;
}
.sidebar .btn{
  margin-top:20px;
}
.btn{
  display:block;
  background: #3556FF;
  box-shadow: 0px 0px 35px rgba(74, 92, 184, 0.2);
  border-radius: 100px;
  text-align:center;
  color:#fff;
  padding:0px 32px;
  font-weight: 300;
  height:44px;
  line-height:44px;
  font-size: 14px
}
.btn:hover{
  background: #314ddc;
}
/*end sidebar*/

/*begin main content*/
.content{
  margin-left:330px;
}
.slider-part{
  position:relative;
}
.slider{
  height:90vh;
}
.slider .slick-list,.slider .slick-track{
  height:100%;
}
.slider-item{
  height:100%;
  background-image:url(../img/slider.jpg);
  background-size:cover;
  background-position:top center;
}
.slider-item .container{
  height:100%;
}
.slider-item__text{
  height:100%;
  display:flex;
  width:600px;  
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
}
.slider-item__heading{
  color:#fff;
  display:block;
  font-weight:500;
  font-size:48px;
  letter-spacing: 0.05em;
  margin-bottom:20px;
}
.slider-item__text p{
  color:#fff;
  font-size:16px;
  padding-right:100px;
  margin-bottom:10px;
}
.slider-item__btn{
  outline:none;
  display: inline-block;
  padding: 14px 30px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 25px;
  margin-top: 15px;
}
.slider-item__btn:hover{
  background-color:#fff;
  color:#333;
}
.slider-bot{
  position:absolute;
  bottom:50px;
  left:0px;
  right:0;
  z-index:3;
  display:flex;
}
.slider-bot__arrow{
  width:20px;
  height:20px;  
  background-size:cover;
}
.slider-bot__area{
  display:flex;
}
.slider-bot__arrow--left{
  background-image:url(../img/left-arrow.svg);
}
.slider-bot__arrow--right{
  background-image:url(../img/right-arrow.svg);
}
.slick-dots{
  display:flex;
  align-items:center;
  height: 20px;
}
.slick-dots li{
  margin:0 6px;
  border:1px solid transparent;
  padding:2px;
  border-radius:50%;
}
.slick-dots li.slick-active{
  border:1px solid #fff;
}
.slick-dots li button{
  font-size:0;
  border-radius:50%;
  background-color:#fff;
  padding:0;
  width:6px;
  height:6px;
  display: block;
  border: none;
  outline:none;
}
.section{
  padding:60px 0;
}
.section--notop{
  padding-top:0;
}
.section--haltop{
  padding-top:20px;
}
.section--white{
  color:#fff;
}
.section--white .section__heading{
  color:#fff;
}
.section__heading{
  display:block;
  font-size: 32px;
  line-height: 44px;
  font-weight:600;
  color: #444;
  margin-bottom:38px;
  position:relative;
  z-index:1;
}
.container{
  width:88%;
  max-width:1200px;
  margin:0 auto;
}
.gsc-sections{
  display:flex;
  justify-content: space-between;
  align-items:stretch;
}
.gsc-sections__left{
  width:66%;
}
.gsc-sections__right{
  width:34%;
}
.gsc-sections__bot{
  margin-top:25px;
  display:flex;
  justify-content: space-between;
}
.gsc-sections__bot .gsc-item{
	width:48%;
}
.gsc-item{
  position:relative;
  background-color:#fff;
  padding:25px;
  border-radius:4px;
  box-shadow: 0px 0px 35px rgba(74, 92, 184, 0.2);
}
.gsc-item--bot{
  padding-bottom:75px;
}
.gsc-item--bot .btn-part{
  position:absolute;
  bottom:25px;
  left:25px;
} 
.gsc-item--obraz .gsc-item__text{
  width:400px;
}
.gsc-item__heading{
  display:block;
  font-size: 22px;
  line-height: 28px;
  color: #31439E;
  margin-bottom:12px;
}
.gsc-item--bot .gsc-item__heading{
  font-size:20px;
} 
.gsc-item__text{
  margin-bottom:15px;
}
.btn-part{
  display:inline-block;
}
.obraz-circle{
   position: absolute;
   right:0;
   bottom:0;
   width:250px;
   height:250px;
}
.obraz-circle__part{
  width:100%;
  height:100%;
  overflow:hidden;
  position:relative;
}
.obraz-circle__fill{
    position: absolute;
    bottom: -25px;
    right: -56px;
    width: 260px;
    height: 260px;
    background-color: #7CE399;
    border-radius: 50%;
}
.obraz-circle__img{
  position:absolute;
  right:30px;
  bottom:0;  
}
.gsc-item--shkola{
  margin-left:25px;
  min-height: 500px;
  height: 100%;
}
.yazyk-circle{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:250px;
}

.step-ul{
	display:flex;
	align-items:stretch;
	flex-wrap:wrap;
	margin-right: -25px;
}
.step-ul li{
	width:50%;
	margin-bottom:25px;
}
.step-item{
	background-color:#fff;
	height:100%;
	padding:28px;
	box-shadow: 0px 0px 35px rgba(74, 92, 184, 0.2);
  border-radius: 5px;
  margin-right:25px;
  position:relative;
}
.step-item__number{
  position: absolute;
  top: 28px;
  left: 28px;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #31439e;
  color:#fff;
  border-radius:50%;
  text-align:center;
  line-height:30px;  
}
.step-item:before{
	content:"";
	position:absolute;
	top:1px;
	right:0;
	bottom:1px;
	width:3px;
	background-color:#7CE399;
	border-radius:5px;
}
.step-item__heading{
	display:block;
	color: #31439E;
	font-size:21px;
	margin-bottom:16px;
  padding-left:50px;
}
.section--benefits{
	background-color:#555;
	background-image:url(../img/benefits-bg.jpg);
	background-size:cover;
	background-position:center;
}
.section--benefits .section__heading{
  margin-bottom:65px;
}
.ben-ul{
  display:flex;
  justify-content: space-between;
  margin-left:-28px;
  margin-right:-28px;
}
.ben-ul li{
  width:33.3%;
}
.ben-item{
  text-align:center;
  margin:0 28px;
}
.ben-item__img{ 
  display:block;
  width:130px;
  height:130px;
  border-radius:50%;
  background-size:cover;
  background-color:#fff;  
  margin:0 auto 20px auto;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}
.ben-item__img--1{
  background-image:url(../img/ben1.svg);
  background-size:70px;
} 
.ben-item__img--2{
  background-image:url(../img/ben2.svg);
  background-size:70px;
} 
.ben-item__img--3{
  background-image:url(../img/ben3.svg);
  background-size:70px;
} 
.ben-item__heading{
  display:block;
  line-height:24px;
}
.otzyv-main{
  overflow:hidden;
} 
.otzyv-main__left{
  width:260px;
  float:left;
}
.otzyv-main__right{
  margin-left:340px;
}
.otzyv-section__heading{
  display:block;
  font-weight:600;
  font-size:24px;
  margin-bottom:15px;
  color: #4B4B52;
}
.otzyv-section__des{
  margin-bottom:15px;
}
.otzyv-section .btn{
  margin-right:50px;
}
.otzyv-slider__item{
  padding:30px;
  background-color:#fff;
  box-shadow: 0px 2px 25px #E8EBF9;
}
.otzyv-mini{
   overflow:hidden;
}
.otzyv-mini__left{
  float:left;
  width:120px;
}
.otzyv-mini__ava{
  width:120px;
  height:120px;
  border-radius:50%;
  overflow:hidden;
  background-image:url(../img/ellipse.jpg);
  background-size:cover;
}
.otzyv-mini__right{
  margin-left:140px;  
}
.otzyv-mini__heading{
  display:block;
  color: #31439E;
  margin-bottom:10px;
  padding-bottom:10px;
  font-weight:600;
}
.news-ul{
	display:flex;
  margin-right:-25px;
}
.news-ul--main{
  margin-bottom:25px;
}
.news-ul li{
	width:33.3%;
}
.news-item{
	background-color:#fff;
	box-shadow: 0px 0px 35px rgba(74, 92, 184, 0.2);
  border-radius: 4px;
  overflow:hidden;
  margin-right:25px;
}
.news-item__img{
  display:block;
  height:180px;
  background-size:cover;
  background-position:center;
  background-image:url(../img/news.jpg);
}
.news-item__text{
  position:relative;
  padding:20px 18px 65px 18px;
}
.news-item__heading{
  display:block;
  margin-bottom:15px;
  font-weight:600;
}
.news-item__bot{
  position:absolute;
  left:0;
  bottom:17px;
  right:0;
  padding:0 18px;
  display:flex;
  justify-content: space-between;
  align-items:center;
}
.news-item__link{
  position:relative;
  display:block;
  font-size:14px;
}
.news-item__date{
  font-size:14px;
}
/*end main content*/



/*begin footer*/
.footer{
	border-top:1px solid #ccc;
	height:60px;
  line-height:60px;
}
.footer .container{
  display:flex;
  justify-content: space-between;
}


@media screen and (max-height: 680px){
  .menu li {
    margin-bottom: 1%;
  }
  .menu li a{
    padding:5px 0;
  }
  .city-select{
    margin-bottom:15px;
  }
  .sidebar-cont{
    margin-bottom:10px;
  }  
}
@media screen and (max-height: 600px){
  .sidebar-cont--location{
    display:none;
  }
  .sidebar-bot{
    padding: 18px 50px 18px 50px;
  }
}
/*end my css */