.button-unset {
	all: unset;
}

.button {
	/* all: unset; */
	padding: 16px 24px;
	border-radius: var(--common-border-radius);
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}

.button-outline {
	background-color: transparent;
	border: 1px solid currentColor;
	padding: 8px 24px;
}

.button-ico {
	padding: 9px; /* Looks bad but is required */
}

.button-primary {
	background: var(--color-button-background-primary);
	color: var(--color-text-white);
}

.button-secondary {
	background: var(--color-button-background-secondary);
	color: var(--color-text-white);
}

.button-white {
	background: var(--color-background-primary);
}