.button {
	padding: 8px 20px;
	border-radius: var(--common-border-radius);
	text-decoration: none;
}

.outline-button {
	background-color: transparent;
	border: 1px solid currentColor;
}

.button-primary {
	background: var(--color-button-background-primary);
	color: var(--color-text-white);
	padding: 16px 24px;
}

.button-secondary {
	background: var(--color-button-background-secondary);
	color: var(--color-text-white);
	padding: 16px 24px;
}