:root {
	--offset-base-size: 2px;

	--common-border-radius: 4px;

	--color-background: #FFFFFF;

	--color-text-primary: #2E2E2E;
	--color-text-secondary: #135585;
	--color-text-white: #FFFFFF;
	--color-text-black: #000000;
	--color-text-link: #BA447D;
	--color-text-large: #303030;

	--color-select-background: #FFFFFF;
	--color-select-text: #000000;

	--color-separator-alpha: #D1D1D154;

	--font-family-primary: 'Gilroy', sans-serif;
	--font-family-secondary: 'Montserrat', sans-serif;

	--color-box-shadow-layer-1: #00103D29;
	--color-box-shadow-layer-2: #00103D47;

	--color-button-background-primary: linear-gradient(91.85deg, #566DBD -20.1%, #3DAFFF 98.46%);
	--color-button-background-secondary: linear-gradient(94.69deg, #BA447D -9.75%, #E2C26A 89.71%);

	--color-gradient: linear-gradient(to bottom, rgba(226,194,105,1) 30%, rgba(186,68,125,1) 95%);

	--color-info-card-background-1: #B09445;
	--color-info-card-background-border-1: #F3D788;
	--color-info-card-background-2: #4B6746;
	--color-info-card-background-border-2: #60845A;
	--color-info-card-background-3: #BA447D;
	--color-info-card-background-border-3: #DF619D;
}

* {
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.separator {
	border-bottom: 1px solid var(--color-separator-alpha);
}

.separator--vertical {
	border-left: 1px solid var(--color-separator-alpha);
}
