/* General */
.ico {
	display: flex;
	align-items: center;
	justify-content: center;
}
.ico * {
	display: inline-block;
	vertical-align: middle;
}

.ico-24 {
	width: 24px;
	height: 24px;
}
.ico-20 {
	width: 20px;
	height: 20px;
}
.ico-16 {
	width: 16px;
	height: 16px;
}

/* Icons */

.ico-chevron-down {
	width: 9px;
	height: 4px;
	background-color: currentColor;
	-webkit-mask: url(../../assets/icons/chevron-down.svg) no-repeat 50% 50%;;
	mask: url(../../assets/icons/chevron-down.svg) no-repeat 50% 50%;;
	-webkit-mask-size: cover;
	mask-size: cover;
}

.ico-bars {
	width: 12px;
	height: 8px;
	background-color: currentColor;
	-webkit-mask: url(../../assets/icons/bars.svg) no-repeat 50% 50%;;
	mask: url(../../assets/icons/bars.svg) no-repeat 50% 50%;;
	-webkit-mask-size: cover;
	mask-size: cover;
}

.ico-arrow-right {
	width: 12.5px;
	height: 10px;
	background-color: currentColor;
	-webkit-mask: url(../../assets/icons/arrow-right.svg) no-repeat 50% 50%;;
	mask: url(../../assets/icons/arrow-right.svg) no-repeat 50% 50%;;
	-webkit-mask-size: cover;
	mask-size: cover;
}

.ico-frown {
	width: 9px;
	height: 9px;
	background-color: currentColor;
	-webkit-mask: url(../../assets/icons/frown.svg) no-repeat 50% 50%;;
	mask: url(../../assets/icons/frown.svg) no-repeat 50% 50%;;
	-webkit-mask-size: cover;
	mask-size: cover;
}

.ico-smile {
	width: 9px;
	height: 9px;
	background-color: currentColor;
	-webkit-mask: url(../../assets/icons/smile.svg) no-repeat 50% 50%;;
	mask: url(../../assets/icons/smile.svg) no-repeat 50% 50%;;
	-webkit-mask-size: cover;
	mask-size: cover;
}