.text-color-primary {
	color: var(--color-text-primary);
}

.text-color-secondary {
	color: var(--color-text-secondary);
}

.text-color-large {
	color: var(--color-text-large);
}

.text-color-white {
	color: var(--color-text-white);
}

.text-color-black {
	color: var(--color-text-black);
}

.text-color-link {
	color: var(--color-text-link);
}

.text-font-weight-400 {
	font-weight: 400 !important;
}

.text-font-weight-500 {
	font-weight: 500 !important;
}

.text-font-weight-600 {
	font-weight: 600 !important;
}

.text-font-weight-700 {
	font-weight: 700 !important;
}

.text-font-family-primary {
	font-family: var(--font-family-primary) !important;
}

.text-font-family-secondary {
	font-family: var(--font-family-secondary) !important;
}

.text-transform-uppercase {
	text-transform: uppercase;
}

.text-transform-lowercase {
	text-transform: lowercase;
}

.text-align-center {
	text-align: center;
}

.text-align-left {
	text-align: left;
}

.text-align-right {
	text-align: right;
}

.text-align-justify {
	text-align: justify;
}

.text {
	padding: 0;
	margin: 0;
}

h1, .text-type-h1, .text-type-large {
	font-family: 'Inter', sans-serif;
	font-size: 64px;
	font-weight: 700;
	line-height: 75px;
	letter-spacing: 0;
}

h2, .text-type-h2, .text-type-large-48 {
	font-family: 'Inter', sans-serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	letter-spacing: 0;
	text-align: left;
}

h3, .text-type-h3, .text-type-large-24 {
	font-family: 'Gilroy', sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	letter-spacing: 0;
	text-align: left;
}

h4, .text-type-h4, .text-type-large-18 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 0;
}

h5, .text-type-h5, .text-type-large-16 {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0;
}

h6, .text-type-h6, .text-type-large-14 {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0;
}


.text-type-medium {
	font-family: 'Gilroy', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0;
}

.text-type-medium-20 {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 37px;
	letter-spacing: 0;
}

.text-type-medium-18 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0;
}

.text-type-medium-16 {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0;
}

.text-type-medium-14 {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0;
}

.text-type-small {
	font-family: 'Gilroy', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0;
}

.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.text-overflow {
    overflow: hidden;
    white-space: nowrap;
}

.text-underline {
    text-decoration: underline;
}

.text-underline-none {
	text-decoration: none;
}

@media screen and (max-width: 768px) {
	h1, .text-type-h1, .text-type-large {
		font-family: 'Inter', sans-serif;
		font-size: 32px;
		font-weight: 700;
		line-height: 33px;
		letter-spacing: 0;
	}

	h2, .text-type-h2, .text-type-large-48 {
		font-family: 'Inter', sans-serif;
		font-size: 24px;
		font-weight: 700;
		line-height: 28px;
		letter-spacing: 0;
	}

	h3, .text-type-h3, .text-type-large-24 {
		font-family: 'Gilroy', sans-serif;
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0;
	}

	h4, .text-type-h4, .text-type-large-18 {
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 700;
		line-height: 26px;
		letter-spacing: 0;
	}

	h5, .text-type-h5, .text-type-large-16 {
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		font-weight: 700;
		line-height: 14px;
		letter-spacing: 0;
	}

	.text-type-medium {
		font-family: 'Gilroy', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 21px;
		letter-spacing: 0;
	}

	.text-type-medium-20 {
		font-family: 'Gilroy', sans-serif;
		font-size: 16px;
		font-weight: 500;
		line-height: 21px;
		letter-spacing: 0;
	}

	.text-type-medium-18 {
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: 0;
	}

	.text-type-medium-16 {
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: 0;
	}

	.text-type-medium-14 {
		font-family: 'Gilroy', sans-serif;
		font-size: 14px;
		font-weight: 500;
		line-height: 21px;
		letter-spacing: 0;
	}

	.text-type-small {
		font-family: 'Gilroy', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0;
	}
}